DJANGO_SECRET_KEY=your-very-long-random-secret-key-here
DEBUG=False
ALLOWED_HOSTS=raddai.tk,www.raddai.tk

DB_NAME=cpanelusername_dbname
DB_USER=cpanelusername_dbuser
DB_PASSWORD=your_db_password
DB_HOST=localhost
DB_PORT=3306

FLUTTERWAVE_SECRET_KEY=FLWSECK_TEST-...
